<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma première page sous Symfony !</title>
</head>
<body>
<h1>Bye bye {{ nom }} {{ prenom }}!</h1>
<p>
    A bientôt pour de nouvelles aventures Symfony !
</p>
</body>
</html>